<footer class="footer">
  <section class="container">
    ©
    {{ if (and .Site.Params.since (lt .Site.Params.since now.Year)) }}
      {{ .Site.Params.since }} -
    {{ end }}
    {{ now.Year }}
    ·
    {{ if (and .Site.Params.license) }}
      {{ i18n "licensed_under" }} {{ .Site.Params.license | safeHTML }}
    ·
    {{ end }}
    
    Dom Chester Sound Ltd is registered in England and Wales (Company No. 11141388) <br>
    Registered Office: 20 St Johns St, Chichester, England, PO19 1UP
    VAT No. 329750579
    {{ if (and .Site.Params.commit .GitInfo) }}
      [<a href="{{ .Site.Params.commit }}/{{ .GitInfo.Hash }}">{{ .GitInfo.AbbreviatedHash }}</a>]
    {{ end }}
  </section>
</footer>
